node_modules
dist
coverage
.env
frontend/student_financial_tracker_app/build
frontend/student_financial_tracker_app/.dart_tool
frontend/student_financial_tracker_app/android/key.properties
*.jks
*.keystore
